<% provide(:title, 'Edit profile') %>

<div class="center">
	<h1> Update profile </h1>
</div>

<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages.html' %>

			<%= f.label :name, "Name*" %>
			<%= f.text_field :name, class:'form-control' %>

			<%= f.label :email, "Email*" %>
			<%= f.email_field :email, class:'form-control', readonly: true %>

			<%= f.label :password, "Password*" %>
			<%= f.password_field :password, class:'form-control' %>

			<%= f.label :password_confirmation, "Confirm Password*" %>
			<%= f.password_field :password_confirmation, class:'form-control' %>

			<%= f.label :ph_number, "Phone Number" %>
			<%= f.text_field :ph_number, class:'form-control'  %>

			<%= f.label :address, "Address" %>
			<%= f.text_field :address, class:'form-control'  %>

			<%= f.submit "Save", class:'btn btn-primary' %>

		<% end %>
	</div>
</div>
