<div class="btn-group btn-group-justified" role="group" aria-label="...">
	<div class="btn-group" role="group">
		<button id="users-all" type="button" class="btn btn-default">All</button>
	</div>
	<div class="btn-group" role="group">
		<button id="users-admins" type="button" class="btn btn-default">Admins</button>
	</div>
	<div class="btn-group" role="group">
		<button id="users-instructor" type="button" class="btn btn-default">Instructors</button>
	</div>
	<div class="btn-group" role="group">
		<button id="users-students" type="button" class="btn btn-default">Students</button>
	</div>
</div>

<br/>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Email address</th>
		<th>User type</th>
<!-- 		<th>Phone number</th>
		<th>Address</th> -->
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.utype %></td>
<!-- 				<td><%= user.ph_number %></td>
				<td><%= user.address %></td> -->
				<td> 
					<%= link_to 'View Profile', user %>
					|
					<% if current_user.utype == "admin" %>
						<%= link_to 'View History', "#" %> 
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
