<% provide(:title, 'View users') %>

<%= link_to "All", users_pathv%> | 
<%= link_to "Admins", users_path(subset:"admins") %> | 
<%= link_to "Instructors", users_path(subset:"instructors") %> | 
<%= link_to "Students", users_path(subset:"students") %>

<h3>Viewing all users </h3>
<table class="table">
	<thead>
		<th>Name</th>
		<th>Email address</th>
		<th>User type</th>
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to "#{user.name}", user%></td>
				<td><%= user.email %></td>
				<td><%= user.utype %></td>
				<td>
					<% if current_user.utype == "admin" %>
						<%= link_to 'View History', "#" %> 
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>