<table class="table">
	<thead>
		<th>Name</th>
		<th>Email address</th>
		<th>User type</th>
<!-- 		<th>Phone number</th>
		<th>Address</th> -->
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.utype %></td>
<!-- 				<td><%= user.ph_number %></td>
				<td><%= user.address %></td> -->
				<td> <%= link_to 'View', user %>
					<% unless current_user.email == user.email  || user.email == "admin@sp.com"%>
						<%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'} %> 
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
