<table class="table">
	<thead>
		<th>Name</th>
		<th>Email address</th>
		<th>User type</th>
<!-- 		<th>Phone number</th>
		<th>Address</th> -->
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.utype %></td>
<!-- 				<td><%= user.ph_number %></td>
				<td><%= user.address %></td> -->
				<td> 
					<%= link_to 'View Profile', user %>
					|
					<% if current_user.utype == "admin" %>
						<%= link_to 'View History', "#" %> 
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
