<% provide(:title, 'Sign Up') %>
<div class = "center">
	<h1>Sign up</h1>
</div>

<!-- Get the user type -->
<% type_id = params[:ut] %>

<div class="row">
  	<div class="col-md-6 col-md-offset-3">
    	<%= render 'shared/error_messages' %>
  		<p> <h3> Enter your details below </h3> </p>
    	<%= form_for(@user) do |f| %>

			<%= f.label :name, "Name*" %>
			<%= f.text_field :name, class:'form-control' %>

			<%= f.label :email, "Email*" %>
			<%= f.email_field :email, class:'form-control' %>

			<%= f.label :password, "Password*" %>
			<%= f.password_field :password, class:'form-control' %>

			<%= f.label :password_confirmation, "Confirm Password*" %>
			<%= f.password_field :password_confirmation, class:'form-control' %>

			<%= f.label :ph_number, "Phone Number" %>
			<%= f.text_field :ph_number %>

			<%= f.label :address, "Address" %>
			<%= f.text_field :address %>

			<% if type_id == "1" %>
				<%= f.hidden_field :utype, value: "admin" %>
			<% elsif type_id == "2" %>
				<%= f.hidden_field :utype, value: "instructor" %>
			<% elsif type_id == "3" %>
				<%= f.hidden_field :utype, value: "student" %>
			<% end %>

			<%= f.submit "Create my account", class: "btn btn-primary" %>
    	<% end %>
    	<!-- <br/> -->
    	<p></p>
    	<p>Already a registered student? <%= link_to "Log in", login_path %></p>
  	</div>
</div>
