<% if (current_user.utype =="student" || current_user.utype=="instructor" ) %>
<% provide(:title, current_user.name + '\'s courses') %>

<div>
    <p>

    </p>
</div>

<%= link_to "All", course_history_display_path%> | 
<%= link_to "Pending", course_history_display_path(subset:"pending") %> | 
<%= link_to "Enrolled", course_history_display_path(subset:"enrolled") %> | 
<%= link_to "Completed", course_history_display_path(subset:"completed") %>

<h1>Listing Your Courses</h1>

<table class="table">
  <thead>
    <th>Course</th>
    <th>Grade</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @student_courses.each do |student_course| %>
    <% if  student_course !=nil %>
      <tr>
        <td><%= student_course.course.title %></td>
        <td><%= student_course.grade %></td>
        <td><%= student_course.status %></td>
        <td><%= link_to 'view', student_course %> </td>
      </tr>
    <% else %>
     
    <% end %>
    <% end %>
  </tbody>
</table>


<br>
<% else %>
 <% controller.redirect_to coursesall_path %>
<%end %>
