<% provide(:title, 'Enrolled students') %>
<h1>Listing Enrolled students</h1>

<div class="container" style="height:70vh; overflow:auto">

<table class="table">
  <thead>
    <th>Student</th>
    <th>Grade</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @student_courses.each do |student_course| %>
    <% if  student_course !=nil %>
      <tr>
        <td><%= student_course.user.name %>
        <% if ((current_user.id!=student_course.user.id) && (current_user.utype=="instructor")) %>
                        <i class="glyphicon glyphicon-envelope"> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, receiver_id: student_course.user.id), method: 'post'%></i>
                        <%end %></td>
        <td><%= student_course.grade %></td>
        <td><%= student_course.status %></td>
        <td><%= link_to 'Show', student_course %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>
