<% provide(:title, 'Student\'s course details') %>

<div class='row'>
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Student's Course Details</h1>
                

                <table class="table">
                    <tr>
                        <td>Student name</td>
                        <td><%= @student_course.user.name %></td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td><%= @student_course.course.title %></td>
                    </tr>
                    <tr>
                        <td>Course instructor</td>
                        <td><%= @student_course.course.user.name %> &nbsp;&nbsp;&nbsp;&nbsp;
                        <% if ((current_user.utype=="student")) %>
                        <i class="glyphicon glyphicon-envelope"> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, receiver_id: @student_course.course.user.id), method: 'post'%></i>
                        <%end%>
                        </td>
                        </td>

                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><%= @student_course.course.status %></td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td><%= @student_course.grade %></td>
                    </tr>      
                </table>
                
                <% if @student_course.status == "enrolled" && current_user.utype =="student"%>
                    <%= link_to "Drop course", @student_course, method: :delete, data: {confirm: "Are you sure?"} %>
                <% elsif @student_course.status == "enrolled" && ( current_user.utype =="admin" || current_user.utype =="instructor")    %>
                    <%= link_to "Drop student ", @student_course, method: :delete, data: {confirm: "Are you sure?"} %>|
                    <%= link_to " Post grade", edit_student_course_path  %>
                <% end %>
            </div>
        </div>
    </div>
</div>
