<<<<<<< HEAD
       <div class="col-md-6 col-md-offset-3">
=======

>>>>>>> c6f9a7ce075f9d3fbba676726e805b8e35a5df88
      <table class="table">

      <tr>
        <td>Course:</td>
        <td><%= @student_course.course.title %></td>
      </tr>
      <tr>
        <td>Course Instructor:</td>
        <td><%= @student_course.course.user.name %></td>
      </tr>
      <tr>
        <td>Status :</td>
        <td><%= @student_course.course.status %></td>
      </tr>
      <tr>
      <tr>
        <td>Grade:</td>
        <td><%= @student_course.grade %></td>
      </tr>      
    </table>
    <% if @student_course.status == "enrolled" && current_user.utype =="student"%>
    <%= link_to 'Drop the course', @student_course, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% elsif @student_course.status == "enrolled" && ( current_user.utype =="admin" || current_user.utype =="instructor")    %>
    <%= link_to 'Remove student from the course', @student_course, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
</tr>
</table>
</div>
