<% provide(:title, 'Course list') %>

<h1>Search for course</h1>

<div class="row">
    <%= form_tag(courses_path, :method => "get", id: "search-form") do %>
    <div class="col-xs-6">
        <%= text_field_tag :search, params[:search], placeholder: "Search Courses", class:'form-control' %>
    </div>
    <div class="col-xs-3">
        <select id="searchby" name="searchby" class="form-control">
            <option selected disabled hidden>Select field to search by</option>
            <option>ID</option>
            <option>Title</option>
            <option>Description</option>
            <option>Instructor</option>
            <option>Status</option>
        </select>
    </div>
    <div class="col-xs-3">
        <%= submit_tag "Search", class:'form-control btn btn-primary' %>
    </div>
    <% end %>
</div>

<br/>
<br/>

<h1>Listing All Courses</h1>

<div class="container" style="height:45vh; overflow:auto">
<table class="table table-hover">
    <thead>
        <th>Course ID</th>
        <th>Course Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Intructor</th>
        <th>Status</th>
        <th></th>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
        <tr>
            <td><%= course.id%></td>
            <td><%= link_to course.title, course %></td>
            <td><%= course.description %></td>
            <td><%= course.start_date %></td>
            <td><%= course.end_date %></td>
            <td><%= course.user.name%></td>
            <td><%= course.status%></td> 
            <!-- <td><%= link_to 'Show', course %></td> -->
            <% if ( current_user.utype =="admin")%>
                <td><%= link_to 'Delete course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>

    <% end %>
  </tbody>
</table>
</div>
<br>
