<table class="table">
  <thead>
    <th>Course</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Intructor</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title%></td>
        <td><%= course.description %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.Instructor%></td>
        <td><%= course.status%></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
