<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    	<%= link_to "SCHOOL PORTAL", root_path, id: "logo" %>
    	<nav>           
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li><%= link_to "Welcome, #{current_user.name}", "#" %></li>
                    <li><%= link_to "Profile", user_path(current_user) %></li>
                    <% if current_user.utype == "admin" %>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%=  link_to "Course catalogue", coursesall_path%></li>
                                <li><%=  link_to "User list", users_path %></li>
                                <li><%=  link_to "Enrollments", "#" %></li>
                                <li><%=  link_to "Grading", "#" %></li>
                                <li><%=  link_to "Add an admin", adminsignup_path %></li>
                                <li><%=  link_to "Add an instructor", instructorsignup_path %></li>
                                <li><%=  link_to "Add a course", coursecreate_path %></li>
                            </ul>
                        </li>
                    <% elsif current_user.utype == "instructor" %>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%=  link_to "My courses", "#"%></li>
                                <li><%=  link_to "Announcements", "#"%></li>
                                <li><%=  link_to "Enrollments", "#" %></li>
                                <li><%=  link_to "Grading", "#" %></li>
                            </ul>
                        </li>
                    <% elsif current_user.utype == "student" %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%=  link_to "My courses", course_history_display_path%></li>
                                <li><%=  link_to "Course catalogue", coursesall_path%></li>
                            </ul>
                        </li>
                    <% end %>

                    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                <% end %>
      		</ul>
    	</nav>
  	</div>
</header>